
.board {
    display: flex;
    gap: 20px;
    padding: 40px 60px;
    background-color: #F0F2F5;
    min-height: 100vh;
    justify-content: center;
  }

  .column {
    width: 275px;
    display: flex;
    flex-direction: column;
   
  }

  .columnHeader {
    height: 40px;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  .columnTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #141414;
    margin-top: 10px;
  }
  
  .columnContent {
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    padding: 16px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .headerAberto {
    background-color: rgba(245, 34, 45, 0.25);
  }
  
  .headerExecutado {
    background-color: rgba(255, 169, 64, 0.25);
  }
  
  .headerVistoriado {
    background-color: rgba(115, 209, 61, 0.25);
  }
  
  .headerArquivado {
    background-color: rgba(140, 140, 140, 0.25);
  }